<div id="wrap">
  {{partial "partials/header"}}

  {{!-- <div rel="main" class='container'> --}}
  <div class="main">
    <div class="container">
      <div class="row">
        {{outlet "jumbotron"}}
      </div>
    </div>
  {{liquid-outlet}}
  </div>
  <div id="push"></div>
</div>

{{partial "partials/footer"}}

