{{page-title-banner title="There's been an error..."}}

  <div class="container main-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="">
          <h2>Sorry...It's not you, it's us.</h2>
          <p>This error has been reported to us, but feel free to contact <a href="mailto:joshua.bremer@gmail.com">joshua.bremer@gmail.com</a> with any additional information on your error. Sorry for the trouble.</p>
          <p class="text-center"><a class="btn btn-primary" href="/">Return to homepage </a></p>
        </div>
      </div>
    </div>
  </div>
